<div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
  <div class="h-entry">
    <img src="/assets/blog_1.jpg" alt="Image" class="img-fluid">
    <h2 class="font-size-regular">Открылся новый склад</h2>
    <div class="meta mb-4">Отдел логистики <span class="mx-2"></span> 18 января 2019<span class="mx-2"></span>
      <a [routerLink]="'/system/news'">Новости</a>
    </div>
    <p>Сообщаем о начале работы нового ультра-современного складского комплекса на окружном шоссе! Теперь вы
      можете получить все необходимые товары в любое время!</p>
  </div>
</div>
